{% extends "layout.html" %}

{% block connexion %}
{% if app.session.get('user') is null %}
<ul class="nav navbar-nav navbar-right">
      <li class="navbar-right">
        <a href="{{ openidConfArray.authorization_endpoint }}?response_type=code&client_id={{ openidParams.client_id }}&redirect_uri={{ openidParams.client_redirect_url }}&state=hp"><span class="glyphicon glyphicon-book"></span> Connexion</a>
      </li>
</ul>
{% else %}
<ul class="nav navbar-nav navbar-right">
      <li class="navbar-right">
        <a href="/logout"><span class="glyphicon glyphicon-log-out"></span>Déconnexion</a>
      </li>
      <li class="navbar-right">
        <a href="{{ openidConfArray.issuer }}"><span class="glyphicon glyphicon-book"></span> Vous êtes connecté : {{ app.session.get('user').name }} </a>
      </li>
</ul>
{% endif %}
{% endblock %}

{% block content %}
<h1>Bienvenue sur la marketplace !</h1>

<br/>

{% if app.session.get('user') is not null %}
<h2>Vous pouvez voir nos produits</h2>

<div class="container">
  <div class="row">
    <div class="col-md-4 col-sm">
      <div class="card" style="width: 18rem;">
  <img src="https://marketplace.premierevision.com/media/catalog/product/cache/1/thumbnail/350x350/9df78eab33525d08d6e5fb8d27136e95/S/S/SS21_ELYAF_33063Y00__5e3da35e927f3.jpg" class="card-img-top" alt="P1">
  <div class="card-body">
    <p class="card-text">Produit 1</p>
  </div>
</div>
    </div>
    <div class="col-md-4 col-sm">
      <div class="card" style="width: 18rem;">
  <img src="https://marketplace.premierevision.com/media/catalog/product/cache/1/thumbnail/350x350/9df78eab33525d08d6e5fb8d27136e95/S/S/SS21_MANDARIN01_5e3c5ffe47ffb.jpg" class="card-img-top" alt="P2">
  <div class="card-body">
    <p class="card-text">Produit 2</p>
  </div>
</div>
    </div>
    <div class="col-md-4 col-sm">
      <div class="card" style="width: 18rem;">
  <img src="https://marketplace.premierevision.com/media/catalog/product/cache/1/thumbnail/350x350/9df78eab33525d08d6e5fb8d27136e95/S/S/SS21_PALATEKS_5e3c5fff7c64c.jpg" class="card-img-top" alt="P3">
  <div class="card-body">
    <p class="card-text">Produit 3</p>
  </div>
</div>
    </div>
  </div>
</div>

{% endif %}



{% if app.session.get('user') is not null %}
<h2>Profil complet ?</h2>

{% if app.session.get('user').custom_attributes is defined and app.session.get('user').custom_attributes.TVA_Intra__c is empty %}
<button type="button" class="btn btn-light"><a href="{{ openidConfArray.issuer }}/s/flow/AccountInformation?language=en_US&retURL=https://mktp-sf.herokuapp.com?autologin">Je complète mes infos</a></button>
{% endif %}
{% if app.session.get('user').custom_attributes is defined %}
{% set fullAccess = (app.session.get('user').custom_attributes.Statut_du_compte_Marketplace__c is same as("stm-val")) %}
<button type="button" class="btn {% if fullAccess %}btn-success{% else %}btn-danger{% endif %}"{% if not fullAccess %} disabled="disabled"{% endif %}><a href="/order">Je commande des produits</a></button>
{% endif %}
{% endif %}


<br/>
<br/>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#openid">
  Voir la config Openid-connect
</button>

<!-- Modal -->
<div class="modal fade" id="openid" tabindex="-1" role="dialog" aria-labelledby="openidLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="openidLabel">Openid Connect Configuration</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Configuration connected app : <br/>
        {{ dump(openidParams) }}
        <br/>
        <br/>
        Quelques paramètres : <br/>
        Authorization Endpoint : {{ dump(openidConfArray.authorization_endpoint) }} <br/>
        Token Endpoint : {{ dump(openidConfArray.token_endpoint) }} <br/>
        User Info Endpoint : {{ dump(openidConfArray.userinfo_endpoint) }} <br/>
        <br/>
        <br/>
        Configuration : <br/>
        {{ dump(openidConf) }}

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

{% if app.session.get('user') is not null %}
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#userinfo">
  Voir userinfo
</button>

<!-- Modal -->
<div class="modal fade" id="userinfo" tabindex="-1" role="dialog" aria-labelledby="openidLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="openidLabel">Userinfo</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Token response : {{ dump(app.session.get('token')) }} <br/>
        <br/>
        Access token user for API : {{ app.session.get('accessToken') }} <br/>
        <br/>
        User info : <br/>
        {{ dump(app.session.get('user')) }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endif %}

{% endblock %}
